@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to right bottom, #576166, #6a7479, #7d888d, #919da1, #a5b2b5);
    background-size: cover;
    align-items: center;
    min-height: 100vh; 
    scroll-behavior: smooth;
    overflow:auto;
  }

 h2{
   font-size: 50px;
   color:white;
   display: flex;
   justify-content: center;
   margin:3rem 40rem;
   font-style: initial;
   font-family: 'Charm', cursive;
   color:silver;
   text-shadow: 10px 0px 5px rgba(0, 0, 0, 0.90);
   border-bottom: 2px solid rgba(24, 22, 22, 0.5);
 }

 .container{
  display : flex;
  width: 90vw;
  height: 100vh;
  margin-left:5rem;
}

  #bands {
    list-style: inside square;
    font-size: 20px;
    /* background-image: linear-gradient(to right bottom, #909597, #969b9d, #9ca1a3, #a3a8a9, #a9aeaf); */
    background-image: linear-gradient(to right bottom, #576166, #697276, #7c8487, #909698, #a4a9aa);
    width: 500px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  #bands li {
    border-bottom: 1px solid #efefef;
    /* margin: 20px; */
    padding: 20px;
    color: white;
    text-shadow: 10px 0px 17px rgba(0, 0, 0, 0.99);
  }

  .equalto{
    font-size: 100px;
    color:silver;
    display: grid;
    place-items: center;
  }