html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0; /* Important! */
  font-family: sans-serif;
  background-image: linear-gradient(to right bottom, #104d6b, #0c495c, #16444e, #1f3f41, #263937);
  color:white;
}

.wrapper {
  margin: 0 auto;
  max-width: 500px;
  font-size: 20px;
  line-height: 2;
  position: relative;
}

a {
  text-decoration: none;
  color:gray;
  background: rgba(145, 150, 149, 0.05);
  border-radius: 20px;
  padding : 8px;
}

.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  background: white;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin:100px 0;
}

.menu a {
  display: inline-block;
  padding: 8px;
  margin: 0 20px;
  color: white;
}


