html {
  font-size: 10px;
  background: url('./assets/bg.jpg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

body,html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.keys span{
  color : #19a4e9;
  font-weight: bold;
  font-size: large;
  text-shadow: 0.5rem #5292b3;
}

.key {
  border: .4rem solid #7da2b4;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.5s ease;
  width: 12rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  text-shadow: 0 0 .5rem #27a1da;
  cursor: pointer;
}

.playing {
  transform: scale(0.9);
  border-color: #0ba6f3;
  box-shadow: 0 0 1rem #27a1da;
  color: #5292b3;
}

kbd {
  font-family: inherit;
  display: block;
  font-size: 4rem;
}

.key .sound {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color:#5292b3;
}

.audio-name{
  color: #eff4f7;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow:0 0 1rem #27a1da;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 35rem; */
  margin-bottom: 5rem;
}


.pop-up{
  position: absolute;
  top: 0;
  left: 10px;
  background-color: black;
  color: white;
  font-size: 3rem;
}

.none{
  display: none;
}